.profile {
	--profile-padding: 1em;

	display: flex;
	align-items: flex-start;
	font-size: 1rem;
}

.profile__card {
	padding: 0;
	width: 100%;
}

.profile__content {
	padding: var(--profile-padding);
}

.profile__message {
	color: #666;
	letter-spacing: .13em;
	text-align: center;
}

.profile__area {

}

.profile__area-title {
	margin-bottom: var(--profile-padding);
}

.profile__area-cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
}

.profile__area-card {
	margin-bottom: var(--profile-padding);
	padding: var(--profile-padding);
	width: calc(50% - var(--profile-padding) / 2);
	border: 1px solid #aaa;
	border-radius: var(--radius);
	box-sizing: border-box;
	color: #3742fa;
	text-decoration: none;
	font-weight: 500;
}

.profile__area-card:last-child,
.profile__area-card:nth-last-child(2) {
	margin-bottom: 0;
}

.profile__area-card:hover {
	text-decoration: underline;
}